
<div class=" p-3 mb-0 bg-dark abajo mt-5 ">
  <div class="row ">
      <div class="col-xs-12 col-md-6 text-left ">
          <h6 class="text-white lead ">CONTACTO:</h6>
          <h6 class="text-muted">
              Carrera 8h No. 166-71 Local 2<br> Santa Cruz de la Ronda.<br> Teléfonos: 3115988953 – 3112641818.<br>
          </h6>
      </div>

      <div class="col-xs-12 col-md-6 text-right">
          <h6 class="text-white lead">ENCUENTRANOS EN LAS REDES</h6>
          <div class="redes-footer">
              <a href="https://www.facebook.com/"><img src="assets/img/instagram.png" width="40px"></a>
              <a href="https://twitter.com/"><img src="assets/img/twitter.png" width="40px"></a>
              <a href="https://www.youtube.com/"><img src="assets/img/whatsapp.png" width="40px"></a>
          </div>
      </div>
  </div>
  <div class="row">

      <div class="col-md-12 text-right">
          <p class="text-muted small">GesLib @2020.<br> Todos los derechos reservados.</p>
      </div>

  </div>

</div>
